.slot {
    height: var(--slot-item-height);
    position: relative;
}
.label {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-xl);
    position: absolute;
    top: 35%;
    left: 13%;
    right: 12%;
    bottom: 32%;
}


