.slot {
    height: var(--slot-item-height);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.label {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-xl);
    position: absolute;
    min-height: 32%;
    left: 13%;
    right: 12%;
    word-break: break-all;
    white-space: break-spaces;
}


